@import "functions";
@import "variables";
// Components
@import "msu/components/breadcrumb";

$world-font-size:                   rem-calc(8);

$world-map-labels: (
    africa: #{rem-calc(7)}, 
    asia: #{$world-font-size}, 
    europe: #{rem-calc(6)},
    north-america: #{rem-calc(7)},
    oceania: #{rem-calc(5)}, 
    south-america: #{rem-calc(7)}
);

article.container {
  position: relative;
  z-index: 1;
  padding-top: $navbar-height;
  [data-topbar] + [data-header] + [data-error] + & {
    padding-top: $navbar-height + $topbar-height;
  }
}

.offcanvas-top {
  z-index: 80;
  top: rem-calc(82);
  height: rem-calc(124);
  padding: map-get($spacers, 2) 0;
  box-shadow: 0 0 5px rgba($black, 0.3);
}

[data-spynav] {
  [data-topbar] + [data-header] + [data-error] + article.container & {
    top: $navbar-height + $topbar-height;
    height: calc(100vh - #{$navbar-height + $topbar-height});
  }
  position: fixed;
  top: $navbar-height;
  left: 0;
  width: rem-calc(32);
  height: calc(100vh - #{$navbar-height});
	overflow: hidden;
  background-color: $aluminum;
  box-shadow: #{rem-calc(-2)} 0 #{rem-calc(2)} 0 rgba($black, 0.05) inset;
  a {
    margin-top: 0.1vh;
    margin-bottom: 0.1vh;
    padding: rem-calc(5) rem-calc(8);
    font-family: $font-family-sans-serif;
    font-size: rem-calc(14);
    font-weight: $font-weight-bold;
  }
}

dl {
  dt {
    border-bottom: solid #{rem-calc(1)} $battleship;
    a {
      color: $smoke;
      &:hover, 
      &:focus {
        color: $secondary;
      }
    }
  }

  &:last-of-type {
    dt:last-of-type {
      border-bottom-width: 0;
    }
  }
}

[data-bs-spy] {
  overflow: hidden;
  overflow-y: auto;
  max-height: calc(100% - #{rem-calc(128)});
}

[data-bs-spy], 
article.container {
  height: 100%;
}

[data-world] {
  background-image: var(--screen_background);
  overflow: hidden;
}