//Reset adds some crap to the css. We wanna get rid of that
fieldset {
	display: block;
}

figure {
	margin-bottom: unset;
}

button:focus,
input[type=radio],
input[type=checkbox] {
	outline: none;
}

.btn {
  svg {
    pointer-events: none;
  }
}

.btn-danger,
.btn-secondary {
  color: $white;
  span {
    color: inherit;
  }
  svg {
    fill: $white;
  }
}

//Align the default styles for DOM elements to the styleguide
input[type=checkbox],
input[type=radio] {
	appearance: none;
	border: solid 1px var(--bs-primary);
    width: 1.25em;
    height: 1.25em;
    margin-top: auto;
    margin-bottom: auto;
	&:focus {
		box-shadow: 0 0 0 0.2rem $seafoam;
	}
	&:checked {
		border-color: $secondary;
		background-color: $secondary;
	}
}

::selection {
	background-color: $seafoam;
}

//If they have a video detach button (for pushing videos into the corner) hide that
:host, #detach-button-host {
	display: none;
}

.h0 {
  font-size: 2.875vw;
}

//Bootstrap has some loopholes with the font assignments. Close those
h1, .h1 {
    font-size: $h1-font-size;
}

h2, .h2 {
    font-size: $h2-font-size;
}

h3, .h3 {
    font-size: $h3-font-size;
}

h4, .h4 {
    font-size: $h4-font-size;
}

h5, .h5 {
    font-size: $h5-font-size;
}

h6, .h6 {
    font-size: $h6-font-size;
}

//Make Bootstrap dropdowns fit the styleguide
.dropdown-toggle::after {
	border: none;
}

.dropdown {
	&:not(.show) [data-show] {
		display: none
	}
	&.show [data-hide] {
		display: none;
	}

	.dropdown-item {
		font-weight: $font-weight-bold;
		border-top: solid 1px $tertiary;
		&:first-child {
			border-top: none;
		}
	}

	.dropdown-menu.show {
		box-shadow: 0 0 #{rem-calc(10)} 1px rgba($black,0.1);
	}
}

//Style the Bootstrap Modal to match the design
.modal-dialog-scrollable .modal-body {
  overflow: hidden;
  overflow-y: auto;
}

.modal-dialog {
	input[type=text],
	input[type=url] {
		border-color: $smoke;
		border-radius: 0;
		&:read-only {
			border-color: $battleship;
			color: $battleship;
			background-color: transparent;
			pointer-events: none;
		}
	}

	label {
		&:not(.small) {
			margin-bottom: rem-calc(5);
			color: $secondary;
			font-weight: $font-weight-bold;
			text-transform: uppercase;
		}
		&.small {
			font-size: rem-calc(10)
		}
	}
}

//Ant Design styles realigned to match the comp
.ant-table-cell.inline-list a:after {
	content: ',';
    margin-right: rem-calc(5);
    display: inline;
}

.ant-table-tbody > tr > td,
.ant-table-summary > tr > td, 
.ant-table-footer .ant-table-tbody > tr > td {
  border-right: #{rem-calc(1)} solid $battleship;
  &:first-child {
    border-left: #{rem-calc(1)} solid $battleship;
  }
}

.ant-table-cell.inline-list {
  span, a {
    display: block;
    &:after {
      content: ',';
      margin-right: rem-calc(5);
      display: inline;
    }
    &:last-child:after {
      content: unset;
      margin-right:unset;
    }
  }
}

.ant-slider-handle-dragging.ant-slider-handle-dragging.ant-slider-handle-dragging, 
.ant-slider-handle:focus {
    border-color: $seafoam;
	  background-color: $white;
    box-shadow: 0 0 0 #{rem-calc(5)} $seafoam;
}

.ant-select-single {
  &.ant-select-show-arrow {
    .ant-select-selection-item, 
    .ant-select-selection-placeholder {
      padding-right: rem-calc(20)
    }
  }

  .ant-select-selector {
    .ant-select-selection-item, 
    .ant-select-selection-placeholder {
      line-height: 1;
    }
  }
}

.ant-select {
  font-size: rem-calc(14);
}

//Drag-and-Drop Form
.ant-upload-btn {
  padding: $padding-large;
}

.ant-upload-list-item-thumbnail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

[data-upload] span {
  display: block;
}

//Sorters
.ant-table-column-sorters {
  align-items: center;
  font-size: rem-calc(12);
  padding: rem-calc(12) rem-calc(12);
}

.ant-table-column-sorter {
  display: flex;
  margin-top: unset !important;
  margin-left: rem-calc(8);
}
.ant-table-column-sorter-down, 
.ant-table-column-sorter-up {
  font-size: rem-calc(11);
}

//Pagination
.ant-pagination-options {
  margin-left: rem-calc(15);
}

.ant-pagination-item-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  align-items: center;
  > div {
    width: 100%;
    height: 100%;
    > span {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
    }
    .ant-pagination-item-ellipsis {
      width: rem-calc(32);
      height: rem-calc(32);
      line-height: 2.5;
    }
  }
}

.ant-pagination-jump-next,
.ant-pagination-jump-prev {
  .ant-pagination-item-container .ant-pagination-item-link-icon {
    font-size: rem-calc(12);
  }
}

.ant-pagination-item, 
.ant-pagination-total-text, 
.ant-pagination-jump-next, 
.ant-pagination-jump-prev, 
.ant-pagination-prev {
  margin-right: rem-calc(8);
}

.ant-pagination-jump-next, 
.ant-pagination-jump-prev, 
.ant-pagination-next, 
.ant-pagination-prev, 
.ant-pagination-item {
  min-width: rem-calc(32);
}

.ant-pagination-item, 
.ant-pagination-total-text,
.ant-pagination-jump-next, 
.ant-pagination-jump-prev, 
.ant-pagination-next, 
.ant-pagination-prev, 
.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  height: rem-calc(32);
}

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  padding: $btn-padding-y-sm $btn-padding-x-sm;
}

.ant-pagination-item, 
.ant-pagination-total-text,
.ant-pagination {
  font-size: rem-calc(14);
}

.ant-pagination-next, 
.ant-pagination-prev {
  .ant-pagination-item-link {
    font-size: rem-calc(12);
  }
}

.ant-pagination-item, 
.ant-pagination-next .ant-pagination-item-link, 
.ant-pagination-prev .ant-pagination-item-link, 
.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: $btn-border-width;
  border-radius: $btn-border-radius;
  border-color: $list-item
}

.ant-pagination-item-active {
  border-color: $secondary;
  color: $white;
  font-weight: initial;
  background-color: $secondary;
}

.ant-pagination-jump-next, 
.ant-pagination-jump-prev, 
.ant-pagination-next, 
.ant-pagination-prev, 
.ant-pagination-item, 
.ant-pagination-total-text, 
.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  line-height: 1;
}

//Maintain the same (general) size using scale HOORAY Rem base!)
@media only screen and (max-width: 80em) {
  .ant-table {
    font-size: $navigation-td-font-sm-size;
  }
}

//Table
.ant-table {
  font-size: $navigation-td-font-size;
  background-color: transparent;
  table {
    border-collapse: collapse;
  }
  &.ant-table-empty {
    .ant-table-thead {
      display: none;
    }
    .ant-table-placeholder {
      background-color: transparent;
      color: var(--bs-primary);
      .ant-table-cell {
        border: none;
        background: transparent;
      }
    }
    .ant-empty-img-simple-ellipse {
      fill: var(--bs-primary);
      opacity: 0.3;
      filter: blur(1px);
    }
    .ant-empty-normal {
      margin: 0;
    }
    .ant-empty-img-simple-g {
      path {
        stroke: var(--bs-primary);
      }
      path:first-child {
        fill: $seafoam;
      }
      .ant-empty-img-simple-path {
        fill: #5c8a80;
      }
    }
  }
}

//Global Ant Table
.ant-table-tbody,
.ant-table-thead, 
.ant-table tfoot { 
  > tr {
    > td,
    > th {
      padding: $navigation-th-padding;
    }
  }
}

.ant-table-content {
  .ant-table-thead > tr > th {
    text-transform: uppercase;
    color: $white;
    background: $secondary;
    border-width: rem-calc(1);
    border-top-width: 0;
    border-left-width: rem-calc(1);
    border-style: solid;
    border-color: $list-item;
    border-bottom: $navigation-table-border;
    &:first-child {
      border-right-width: rem-calc(1);
    }
    &.ant-table-column-has-sorters:hover {
      background: darken($secondary, 10%);
    }
  }
}

.ant-checkbox {
  .ant-checkbox-inner {
    border-color: $secondary;
    border-radius: 0;
  }

  &.ant-checkbox-checked .ant-checkbox-inner {
    border-color: var(--bs-primary);
    background-color: var(--bs-primary);
  }
}

.ant-upload-list-picture-card {
  .ant-upload-list-item-info {
    .ant-upload-list-item-thumbnail {
      &, & img {
        object-fit: cover;
      }
    }
  }
  .ant-upload-list-item-file,
  .ant-upload-list-item-thumbnail {
    + .ant-upload-list-item-name {
      display: block;
      white-space: initial;
      line-height: 1;
      font-size: rem-calc(9);
      padding: 0 #{rem-calc(5)};
    }
  }
}

.ant-upload-picture-card-wrapper {
  .ant-upload-list-picture-card, 
  .ant-upload-list-picture {
    .ant-upload-list-item {
      padding: rem-calc(5);
      border: 0;
      border-radius: 0;
      background-color: $white;
      &.ant-upload-list-item-uploading {
        background-color: $warning;
        padding: rem-calc(2);
        .ant-upload-list-item-info {
          height: 100%;
          background-color: $white;
        }
        .ant-upload-list-item-progress {
          left: 7px;
        }
        .ant-progress-text {
          font-size: rem-calc(8);
        }
      }
      &.ant-upload-list-item-error {
        background-color: $danger;
        padding: rem-calc(2);
        .ant-upload-list-item-info {
          background-color: $white;
        }
        .ant-upload-list-item-thumbnail {
          width: rem-calc(40);
          height: rem-calc(40);
          margin-left: auto;
          margin-right: auto;
          margin-top: rem-calc(10);
          border: solid #{rem-calc(1)} $battleship;
        }
      }
    }
  }
}

.ant-upload-list-picture-card-container {
  &:hover, &:focus {
    .ant-upload-list-picture-card .ant-upload-list-item, 
    .ant-upload-list-picture .ant-upload-list-item {
      padding: rem-calc(2);
    }
    .ant-upload-list-picture-card .ant-upload-list-item-info:before{
      background: rgba($secondary, 0.6)
    }
  }
}

.ant-slider {
  &:hover {
    .ant-slider-rail {
      background-color: darken($tertiary,50%);
    }
    .ant-slider-track {
      background-color: $secondary;
    }
  }
}

/*Dev note: Band-aids a weird box issue where the dragger is 200% the width of the container*/
.ant-slider-mark,
.ant-slider-step {
  max-width: 50%;
}

.ant-slider-rail {
  background-color: $tertiary;
}

.ant-slider-track {
  background-color: var(--bs-primary);
}

.ant-slider-dot {
  width: rem-calc(12);
  height: rem-calc(12);
  border-color: #C9E3D8;
  background-color: $aluminum;
  &, &:first-child, &:last-child {
    margin-top: rem-calc(-2);
    margin-left: rem-calc(-4);
  }
  
  &.ant-slider-dot-active {
    border-color: var(--bs-primary);
  }  
}
.ant-slider-vertical .ant-slider-handle {
  width: rem-calc(4);
  margin-left: 0;
}

.ant-slider-handle,
.ant-slider-handle-dragging.ant-slider-handle-dragging.ant-slider-handle-dragging, 
.ant-slider-handle:focus {
  border: none ;
  border-radius: 0;
  background-color: var(--bs-primary);
}

.ant-upload-list {
  display: grid;
  column-gap: 0.75rem;
  row-gap: 0.75rem;
  grid-template-columns: calc(25% - 0.75rem) calc(25% - 0.75rem) calc(25% - 0.75rem) calc(25% - 0.75rem);
  .ant-upload-list-picture-card-container {
    order: 2;
    width: unset;
    height: unset;
    display: unset;
  }
  .ant-upload.ant-upload-select-picture-card {
    order: 1;
    border-color: $list-item;
    border-width: 2px;
    font-size: rem-calc(64);
    font-weight: normal;
    background-color: transparent;
    height: unset;
    width: unset;
    margin: unset;
    &:hover, &:focus {
      border-color: $secondary;
      .icon {
        fill: $secondary;
      }
    }
  }
}

// Odd Even Stripes
.ant-table-tbody {
  > tr {
    background-color: $white;

    &.ant-table-row {
      &.ant-table-row-selected {
        > td {
          background: lighten($primary, 50%);
          color: $body-color;
        }
      }
      
      &.suspended {
        &, &:hover, &:focus {
          > td {
            color: $battleship;
            background: $aluminum;
          }
        }
      }
      
      &.ant-table-clickable {
        &:not(.active) {
          background-color: lighten($danger, 30%);
          > td {
            background: inherit;
          }
        }
        
        &:hover {
          color: var(--bs-primary);
          cursor: pointer;
          > td {
            background: rgba($seafoam,0.3);
          }
        }
      }
    }

    .ant-table-cell-fix-left, 
    .ant-table-cell-fix-right {
      background-color: inherit;
    }
    
    > td {
      padding: $navigation-td-padding;
      border-bottom: $navigation-table-border;
    }
  }
}

.slick-slider .slick-list, .slick-slider .slick-track {
  transform: translate3d(0,0,0);
}

.slick-track {
  perspective: 1000px;
}

.carousel-fade {
  .carousel-item {
    transition-property: transform, opacity, filter;
    transition-duration: 5.5s, 300ms, 2s;
    transition-timing-function: ease-out;
    filter: blur(2px);
    &:first-child, 
    &:nth-child(6n) {
      transform: scale(1.1) translate(-2%, 2%);
    }
    &:nth-child(2), 
    &:nth-child(7n) {
      transform: scale(1.1) translate(2%, -2%);
    }
    &:nth-child(3), 
    &:nth-child(8n) {
      transform: scale(1.1) translate(0, -2%);
    }
    &:nth-child(4), 
    &:nth-child(9n)  {
      transform: scale(1.1) translate(0, 2%);
    }
    &:nth-child(5), 
    &:nth-child(10n)  {
      transform: scale(1.1) translate(0, -2%);
    }
    &:nth-child(6), 
    &:nth-child(11n) {
      transform: scale(1.1) translate(2%, -2%);
    }
    &:nth-child(7), 
    &:nth-child(12n) {
      transform: scale(1.1) translate(-2%, 0);
    }
  }
  .carousel-item.active, 
  .carousel-item-next.carousel-item-start, 
  .carousel-item-prev.carousel-item-end {
    transform: scale(1) translate(0);
    filter: blur(0);
  }
}

.ant-upload-list:after, 
.ant-upload-list:before {
  clear: unset;
  display: unset;
  content: unset;
}


@media only screen and (min-width: 80.0125em) {
  h1, .h1 {
    font-size: $h1-font-sm-size;
  }

  h2, .h2 {
    font-size: $h2-font-sm-size;
  }

  h3, .h3 {
    font-size: $h3-font-sm-size;
  }

  h4, .h4 {
    font-size: $h4-font-sm-size;
  }

  h5, .h5 {
    font-size: $h5-font-sm-size;
  }

  h6, .h6 {
    font-size: $h6-font-sm-size;
  }
}