//Resets first...
:root {
  --font-family: #{$font-family-sans-serif};
  --font-family-serif: #{$font-family-serif};
}

main {
  opacity: 1;
  width: 100%;
  height: 100vh;
}

label input + .icon {
  position: absolute;
  fill: $aluminum;
  background: transparent;
}

//Now elements by data attribute (so we can override them with OOP styles!)
[data-backgrounder] {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  .feature {
	visibility: hidden;
	height: 0;
	width: 0;
  }
}

[data-breadcrumb] {
  h1,h2,h3 {
    a + span {
      color: $primary;
    }
  }
}

[data-clickthrough], 
[role="button"] {
  cursor: pointer;
  > * {
    pointer-events: none;
  }
  [data-dismiss] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
  }
}

[data-error] {
  @extend %fixed_navigation;
  top: unset;
  bottom: 0;
  height: unset;
  border-radius: 0;
}

[data-footer] {
  bottom: 0;
  @extend %fixed_navigation;
  min-height: $footer-height;
  background: rgba($white, 0.8);
}

[data-greeting] {
  bottom: $greeting-bottom;
  top: auto;
  z-index: 10;
  min-height: $greeting-height;
  border-top: solid $greeting-border-height $greeting-border-color;
}

[data-screensaver]{
  z-index: 999;
  > div {
    z-index: 0;
  }
  > figure {
    z-index: 50;
  }

  figcaption {
    font-size: 1.875vw;
  }

  nav svg {
    width: 4.75vw;
    height: auto;
  }

  [data-animate] {
    clip: rect(0 0 100px 0);
    animation: sheen 5s ease-in-out 5s infinite;
  }

  [data-circle], 
  [data-hand], 
  [data-line0], 
  [data-line1], 
  [data-line2], 
  [data-line3], 
  [data-line4], 
  [data-line5], 
  [data-line6] {
    transform: scale(1) translate(0, 0);
    animation-duration: 5s;
    animation-delay: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  [data-circle] {
    animation-name: buttonPress;
    transform-origin: center;
  }
  [data-hand] {
    transform: rotate(0) translate(0, 0);
    animation-name: tap;
  }
  [data-line0] {
    animation-name: line0;
  }
  [data-line1] {
    animation-name: line1;
  }
  [data-line2] {
    animation-name: line2;
  }
  [data-line3] {
    animation-name: line3;
  }
  [data-line4] {
    animation-name: line4;
  }
  [data-line5] {
    animation-name: line5;
  }
  [data-line6] {
    animation-name: line6;
  }
}

@keyframes sheen {
  0% {clip: rect(0 0 100px 0) }
  1% { clip: rect(0 20px 100px 0) }
  11% { clip: rect(0 500px 100px 480px) }
  12% { clip: rect(0 500px 100px 500px) }
  100% { clip: rect(0 500px 100px 500px) }
}

@keyframes tap {
  from {
    transform: rotate(0) translate(0, 0);
  }
  4.5% {
    transform: rotate(-10deg) translate(-30px, 20px);
  }
  10% {
    transform: rotate(0) translate(0, 0);
  }
  to {
    transform: rotate(0) translate(0, 0);
  }
}

@keyframes buttonPress {
  from {
    transform: scale(1) translateY(0);
    stroke-width: 7;
  }
  7.9375% {
    transform: scale(1) translateY(0);
    stroke-width: 7;
  }
  8% {
    transform: scale(0.875) translateY(-0.5rem);
    stroke-width: 7.5;
  }
  15% {
    transform: scale(1) translateY(0);
    stroke-width: 7;
  }
  to {
    transform: scale(1) translateY(0);
    stroke-width: 7;
  }
}

@keyframes line0 {
  from {
    transform: translate(0, 0);
    opacity: 0;
  }
  7.875% {
    transform: translate(0, 0);
    opacity: 0;
  }
  8% {
    transform: translate(0, 0);
    opacity: 1;
  }
  17% {
    transform: translate(-30px, 0);
    opacity: 0.3;
  }
  17.5% {
    transform: translate(0, 0);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 0;
  }
}

@keyframes line1 {
  from {
    transform: translate(0, 0);
    opacity: 0;
  }
  7.875% {
    transform: translate(0, 0);
    opacity: 0;
  }
  8% {
    transform: translate(0, 0);
    opacity: 1;
  }
  17% {
    transform: translate(-30px, -20px);
    opacity: 0.3;
  }
  17.5% {
    transform: translate(0, 0);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 0;
  }
}

@keyframes line2 {
  from {
    transform: translate(0, 0);
    opacity: 0;
  }
  7.875% {
    transform: translate(0, 0);
    opacity: 0;
  }
  8% {
    transform: translate(0, 0);
    opacity: 1;
  }
  17% {
    transform: translate(-20px, -30px);
    opacity: 0.3;
  }
  17.5% {
    transform: translate(0, 0);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 0;
  }
}

@keyframes line3 {
  from {
    transform: translate(0, 0);
    opacity: 0;
  }
  7.875% {
    transform: translate(0, 0);
    opacity: 0;
  }
  8% {
    transform: translate(0, 0);
    opacity: 1;
  }
  17% {
    transform: translate(0, -30px);
    opacity: 0.3;
  }
  17.5% {
    transform: translate(0, 0);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 0;
  }
}

@keyframes line4 {
  from {
    transform: translate(0, 0);
    opacity: 0;
  }
  7.875% {
    transform: translate(0, 0);
    opacity: 0;
  }
  8% {
    transform: translate(0, 0);
    opacity: 1;
  }
  17% {
    transform: translate(20px, -30px);
    opacity: 0.3;
  }
  17.5% {
    transform: translate(0, 0);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 0;
  }
}

@keyframes line5 {
  from {
    transform: translate(0, 0);
    opacity: 0;
  }
  7.875% {
    transform: translate(0, 0);
    opacity: 0;
  }
  8% {
    transform: translate(0, 0);
    opacity: 1;
  }
  17% {
    transform: translate(30px, -20px);
    opacity: 0.3;
  }
  17.5% {
    transform: translate(0, 0);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 0;
  }
}

@keyframes line6 {
  from {
    transform: translate(0, 0);
    opacity: 0;
  }
  7.875% {
    transform: translate(0, 0);
    opacity: 0;
  }
  8% {
    transform: translate(0, 0);
    opacity: 1;
  }
  17% {
    transform: translate(30px, 0);
    opacity: 0.3;
  }
  17.5% {
    transform: translate(0, 0);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 0;
  }
}

[data-header] {
  top: 0;
  [data-topbar] + & {
    top: $topbar-height;
  }
  
  @extend %fixed_navigation;
  min-height: $navbar-height;
  background: rgba($white, 0.8);

  body:not(.dashboard) & {
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      box-shadow:0 #{rem-calc(4)} #{rem-calc(4)} rgba($black, 0.25);
    }
  }

  .navbar-toggler {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    height: 100%;
    box-shadow: none;
    .navbar-toggler-icon {
      position: relative;
      z-index: 1;
    }
  }
}

[data-headline] {
  h1,h2 {
    @extend %headline;
  }
}

[data-search] {
  input, label {
    font-size: rem-calc(14);
    text-transform: uppercase;
  }
  input {
    border-radius: rem-calc(4);
  }
  label {
    background: transparent;
  }
}

[data-sidebar] {
  width: $sidebar-width;
  right: 0;
  z-index: 100;
  position: fixed;
  background: $sidebar-background;
  box-shadow: $sidebar-shadow;
  &.collapsing, 
  &.show {
      & ~ * {
          width: calc(100% - #{$sidebar-width}) !important;
      }
  }
}

[data-subheadline] {
  @extend %headline;
}

[data-topbar] {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: $topbar-height;
  padding: $topbar-padding;
  font-size: rem-calc(12);
  color: $topbar-text-color;
  background: $topbar-background;
  a {
      color: $white;
  }
  + main {
    padding-top: $topbar-height;
    [data-header] {
      top: $topbar-height;
    }
  }
}

input[type=checkbox] {
	+ small {
		span.unchecked,
    span.checked--invert {
			color: $secondary;
		}
		
		span.checked,
    span.unchecked--invert {
			color: $red;
		}
	}

	+ small.checked span.checked, 
	+ small.checked span.checked--invert, 
	+ small span.unchecked, 
	+ small span.unchecked--invert {
		display: inline;
	}

	+ small.checked span.unchecked,
	+ small.checked span.unchecked--invert, 
	+ small span.checked, 
	+ small span.checked--invert {
  display: none;
	}
}

//Anything loose, applicable to any DOM element
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  .disabled & {
    opacity: 0.3
  }
}