@use 'sass:color';

[data-world] {
  margin: 0;
  background-attachment: fixed;

  [data-map] {
    filter: drop-shadow(#{rem-calc(2)} #{rem-calc(4)} #{rem-calc(4)} rgba(0, 0, 0, 0.5));
    //Slight adjustments to account for the visual scaling on "touch"
    @each $continent, $size in $world-map-labels {
      ##{$continent} [data-country] text {
        font-size: $size;
      }
    }

    > [data-country]:not(.active) {
      fill: $aluminum;
      pointer-events: none;
    }

    &[style*="transform"] {
      > .island, 
      > [data-country].disabled {
        opacity: 0;
      }
    }

    [data-continent] {
      fill: $aluminum;
      pointer-events: none;
      stroke-width: 0.0125rem;
      stroke: var(--bs-primary);
      &.active {
        cursor: pointer;
        pointer-events: all;
        &:not(.selected) {
          &:focus, 
          &:hover {
            [data-country] {
              &.active {
                &, 
                &.suspended {
                  path, polygon, polyline {
                    fill: var(--bs-secondary);
                    stroke: var(--bs-secondary);
                  }
                }
              }
            }
          }

          [data-country] {
            &.active {
              path, polygon, polyline {
                fill: var(--bs-primary);
                stroke: var(--bs-white);
              }
              &.suspended {
                path, polygon, polyline {
                  fill: $smoke;
                }
              }
            }
            &.disabled {
              cursor: not-allowed;
              pointer-events: none;
              path, polygon, polyline {
                fill: $aluminum;
              }
            }
          }
        }
        &.selected {
          [data-country] {
            @each $key, $color in $highlights {
              $c: color.scale($primary, $lightness: $color, $saturation: -80%);
              &.opacity-#{$key} {
                path, polygon, polyline {
                  fill: $c
                }
                &.selected {
                  path, polygon, polyline {
                    fill: var(--bs-secondary);
                  }
                }
                &.suspended {
                  path, polygon, polyline {
                    fill: grayscale($c)
                  }
                }
              }
            }
            &.active {
              cursor: pointer;
              &.selected {
                pointer-events: none;
                cursor: help;
              }
              &.suspended {
                @each $key, $color in $highlights {
                  $c: color.scale($primary, $lightness: $color, $saturation: -80%);
                  &.opacity-#{$key} {
                    path, polygon, polyline {
                      fill: grayscale($c)
                    }
                  }
                }
              }
              
              &:not(.programs) {
                @each $key, $color in $highlights {
                  $r: color.scale($danger, $lightness: $color, $saturation: -80%);
                  &.opacity-#{$key} {
                    path, polygon, polyline {
                      fill: $r
                    }
                  }
                }
              }

              &:focus, 
              &:hover {
                &[class*="opacity-"] {
                  path, 
                  polygon, polyline {
                    fill: var(--bs-secondary);
                    stroke: var(--bs-secondary);
                  }
                }
                &.suspended {
                  path, 
                  polygon, polyline {
                    fill: grayscale($secondary);
                    stroke: grayscale($secondary);
                  }
                }
              }
              text, line {
                opacity: 1
              }
            }
            &:not(.active) {
              cursor: default;
              pointer-events: none;
            }
          }
        }
        &.disabled {
          cursor: not-allowed;
          pointer-events: none;
          [data-country] {
            opacity: 0;
          }
          path, polygon, polyline {
            fill: $smoke;
          }
        }
      }
      [data-country] {
        text, line {
          font-weight: $font-weight-normal;
          text-transform: uppercase;
          font-size: $world-font-size;
          fill: var(--bs-primary);
          opacity: 0;
          &.text-invert {
            fill: $white
          }
        }
        text {
          stroke-width: 0;
        }
      }
    }
  }
}